### Keywords in Python

##### These are all  case sensative reserved word that cannot be used to name a variable, function name or other identifier.

##### Some keywords in python3

In [3]:
#Get all keywords in python
import keyword
print (keyword.kwlist)
print("\n Total number of keywords: ",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 Total number of keywords:  35

### Identifiers in Python
#### The name given to function, classes,and variable. It helps to differentiate each other entity. There are some rule to follow while naming the identifiers :
1. Keywords which we explained above cannot be used as identifiers. for example: we can't name a class or variable or function as del, import, or return. They are reserved words 
2.  Identifier starts with a letter A-Z or a-z or an underscope (_) followed by zero or more letters, underscope or digit. Note identifier cannot begin with digit
3. We cannot use special symbol such as !,@,#,$,% in our identifier

In [7]:
salary_peter1=2000

In [8]:
# import=120
# invalid because import is a keyword in python

In [15]:
# a@ = 10 # cannot used special symbols as identifiers

### Comment in python
##### Comment are information regarding the part of code which are ignored by compilers or interpreter. In Python we use (#) to write a comment . 
##### Multiline comments can also used to comment a large part. we begin multi line comments using or triple quotes or simply(''') or (""").

In [20]:
print("Hello World") # Prints Hello World to console

Hello World

In [21]:
"""Hello Guys 
I hope you are doing great 
We are going to start our journey on Python Machine Learning AAIC Bootcamp"""

'Hello Guys \nI hope you are doing great \nWe are going to start our journey on Python Machine Learning AAIC Bootcamp'

### Python Indentation
###### Many Programming languages such as C, C++, and Java use { } /braces to define a block of code but instead in python we use indentation.

In [32]:
for i in range (11):
    print (i)
    print (i*2)     # four whitespaces are used for indentation instead of tabs

0
0
1
2
2
4
3
6
4
8
5
10
6
12
7
14
8
16
9
18
10
20

In [33]:
if True:
    print("Deep Learning")
    C="AppliedAICourse"

Deep Learning

In [39]:
#Can be written as:
if True: print("Deep Learning"); c="AppliedAICourse" # This is not readable although the code correctness is same as above

Deep Learning

In [40]:
a=1 # Single line statement or variable assignment

In [66]:
#Backslash (\) is used to indicate that a statement is continued on the next line.
b=1+2+3+\
  4+5+6+7+\
  8+9+10+1

In [67]:
print(b)

56

In [68]:
b=(1+2+3+
   4+5+6+7+8+
   9+
   10)

In [70]:
print(b) # we can also use () for multi line statements

55

### Variable is a location in memory to store some data.

In [72]:
#Variable assignment
d=15
b=1.5
c="DATASCIENCE"

In [74]:
# Multiple Variable Asssignment
d,b,c= 15,1.5,"DATASCIENCE"

In [75]:
a=b=c="AI"

In [79]:
#Storage or Memory location
x=12
print(id(x)) #print the address or location of memory of variable x

140711484564208

In [80]:
y=12
print(id(y))

140711484564208


##### observation x and y points to same memory location

In [81]:
y=13
print(id(y))

140711484564240

### Data Types

In [82]:
s=12
print(s,"is of type",type(s))

12 is of type <class 'int'>

In [83]:
r=1.9
print(r,"is of type",type(r))

1.9 is of type <class 'float'>

In [84]:
c=2+7j
print(c,"is of type",type(c))

(2+7j) is of type <class 'complex'>

In [86]:
print(isinstance(3+6j,complex)) # Returns boolean whether 3+6j is complex number or not

True

### Boolean represents truth values True or False.

In [87]:
a=False
type(a)

bool

In [92]:
## String ; is a sequence of unicode characters
a='Let us learn Python3'
print(a)
type(a)

Let us learn Python3

str

In [94]:
z="""welcome to Machine Learning 
     course. where we do cool things"""
type(z)

str

In [97]:
print(z[0])

w

In [99]:
print(z[-1])

s

In [101]:
print(z[8:])

to Machine Learning
     course. where we do cool things

### Python List

In [106]:
a=[12,34,"a","Hello World"]
print(a[-1])

Hello World

In [107]:
a[-1]="Machine Learning Enthusiast"

In [108]:
print(a)

[12, 34, 'a', 'Machine Learning Enthusiast']

### Tuples
###### Tuples is declared with paranthesis /"()". The differences is tuples are immutable that means tuples once created cannot be modified

In [113]:
a=(1,2+3j,"AI") # remember tuples items doesn't support item assignments

In [114]:
print(a[1])

(2+3j)

### Sets
#### Sets in python are declared using {} which have only unique values. repeatation  is discarded in a set. Also, set object doesn't support indexing

In [122]:
a={2,9,"ML",2,3,9}

In [123]:
print(a)
type(a)

{9, 2, 3, 'ML'}

set

In [125]:
print(a[2])

TypeError: 'set' object is not subscriptable

### Dictionary are unordered collection of key-values pairs. It is like a hash-value table in a datastructures

In [128]:
d={'a':"Python",'b':'Machine Learning','c':'Deep Learning'}

In [129]:
print(d['c'])

Deep Learning

### Conversion of data types

In [130]:
float(5)

5.0

In [131]:
int(100.9)

100

In [132]:
str(20)

'20'

In [136]:
user='Shiv'
lines=200
print("congratulations "+user+" you just won "+str(lines)+" lakh in a lottery")

congratulations Shiv you just won 200 lakh in a lottery

In [137]:
a=[1,2,3,4]
print(type(a))
s=set(a)
print(type(s))

<class 'list'>
<class 'set'>

In [138]:
list("Hello") # convert string into list

['H', 'e', 'l', 'l', 'o']

In [3]:
#operators are  + , -, /,%,//,**
#important notice towards floor operator
print(15//2)  #// is floor operator
print(-15//2) 
# floor is anything we should find the no closest to the solution but less than the actual solution

7
-8

In [2]:
#comparision operator are >,<,==,!=,>=,=<
a,b=10,90
print(a<b)

True

In [4]:
# Logical operators=and,or,not
a,b=True ,False
print(a or b)

True

## Bitwise Operator 
#### Bitwise Operator acts on operands as if they were string of binary digits. it operates bit by bit. &,|,~,^,>>,<< are Bitwise operator

In [8]:
a,b=10,4
print(a&b)
print(a|b)
print(~b)

0
14
-5

## Assignment Operators

    =,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<= are Assignment operators

In [9]:
a=10
a+=10
print(a)

20

### Identity Operators

is, is not are identity operators
They are used to check if two variables are in the same part of the memory or not

In [11]:
a=5
b=5
print(a is b)

True

In [13]:
l1=[1,2,3]
l2=[1,2,3]
print(a is b)

True

In [ ]:
s1="Keras"
s2="Keras"
print(s1 is s2) # so for only complex data types like list, tuples they store in different memory location

### Membership operator

**in** and **not in** are the membership operators in Python. 
    
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and   dictionary).

In [16]:
ls1=[1,2,3,'Machine Learning']
print('Machine Learning' in ls1)

True

In [19]:
d1={a:"Japan",b:"MAC"}
print(b in d1) # in dictionary check only in the keys not in the values

True

### Control Flow: if else statement

In [26]:
profit=45
if profit==0:
    print("Just cover the expenses")
elif profit>0:
    print("Productive work")
else:
    print("loss")

Productive work

## Nested loop

Python programming language allows to use one loop inside another loop. This is what we called a nested looping or nested loops. Below is the examples of nested loops.

In [27]:
profit=65
if profit>=0:
    if profit==0:
        print("Just cover the expenses")
    elif profit>0:
        print("Productive Business")
else:
    print("loss")

Productive Business

Write a program to find the smallest number among three numbers

In [3]:
num1=input("Enter the first number")
num2=input("Enter the second number")
num3=input("Enter the third number")
if (num1<num2) and (num1<num3):
    smallest=num1
elif (num2<num1) and (num2<num3):
    smallest=num2
else:
    smallest=num3
print("The smallest number is {} among {}, {}, and {} ".format(smallest,num1,num2,num3))

Enter the first number21
Enter the second number32
Enter the third number54
The smallest number is 21 among 21, 32, and 54

While loop

In [ ]:
#Find the product of all the elements present in the list
l