### Data Structures: List

In [1]:
emptyList=[]
lst=['one','Two','Three']
print(len(lst))

3

In [2]:
#List append
lst=['one','two','three','four']
lst.append("Five")

In [3]:
lst

['one', 'two', 'three', 'four', 'Five']

In [4]:
lst.insert(2,"3 Three")

In [5]:
lst

['one', 'two', '3 Three', 'three', 'four', 'Five']

In [7]:
lst.remove("3 Three")

In [8]:
lst

['one', 'two', 'three', 'four', 'Five']

In [9]:
lst.insert(5,"two")

In [10]:
lst

['one', 'two', 'three', 'four', 'Five', 'two']

In [11]:
lst.remove("two")

In [12]:
lst

['one', 'three', 'four', 'Five', 'two']

In [13]:
lst1=["one",2,3,"four"]
lst2=["five",6,7,"eight"]

In [15]:
lst1.append(lst2)

In [16]:
lst1

['one', 2, 3, 'four', ['five', 6, 7, 'eight']]

In [17]:
list1=[1,2,3+4j,"Five"]
list2=["six","VII",8,9]

In [18]:
list1.extend(list2)

In [19]:
list1

[1, 2, (3+4j), 'Five', 'six', 'VII', 8, 9]

In [20]:
my_list=["One",2+3j,"four",5]

In [21]:
del(my_list[1])

In [22]:
my_list

['One', 'four', 5]

In [26]:
a=my_list.pop()

In [27]:
a

5

In [28]:
my_list

['One', 'four']

In [29]:
my_list.remove("One")

In [30]:
my_list

['four']

In [34]:
courses=["ML","Database","Algorithms","OOPS","Theory_Of_Comp","Computer Network"]

In [36]:
courses=["ML","Database","Algorithms","OOPS","Theory_Of_Comp","Computer Network"]
#Lets assume this student has completed the courses mentioned in the list courses so write a program to check if he could take
# Deep Learning courses id: "DL" such that it's pre-requisite is "ML"
if "ML" in courses:
    print("Welcome to DL course")
courses2=["Database","Algorithms","OOPS","Theory_Of_Comp","Computer Network"]    
if "ML" not in courses2:
    print("pre-requiste to be compeleted")

Welcome to DL course
pre-requiste to be compeleted

In [37]:
lst=[3,4,5,6+7j]
lst.reverse()

In [38]:
lst

[(6+7j), 5, 4, 3]

In [39]:
number=[67,43,56,23,98,634,0,12]
sorted_lst=sorted(number)

In [40]:
sorted_lst

[0, 12, 23, 43, 56, 67, 98, 634]

In [41]:
#sorting the ascending order
sorted_lst=sorted(number,reverse=True)
sorted_lst

[634, 98, 67, 56, 43, 23, 12, 0]

In [43]:
my_newlst=[9,11,4,8,0,-2,5]
my_newlst.sort()

In [44]:
my_newlst

[-2, 0, 4, 5, 8, 9, 11]

In [45]:
lss=[1,2,3,4,5]
abc=lss
abc.append(6)

In [46]:
lss

[1, 2, 3, 4, 5, 6]

In [47]:
strg="1,2,3,4,5"
stv=strg.split(",")
print(stv)

['1', '2', '3', '4', '5']

In [48]:
strp="My best friend is Basanta Pant"
stw=strp.split()
stw

['My', 'best', 'friend', 'is', 'Basanta', 'Pant']

In [49]:
lst=[1,2,3,4,5]
lst[-1]

5

In [50]:
l=[1,2,3,4,5,6,7,8]
l[:]

[1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
l[0:4]

[1, 2, 3, 4]

In [57]:
l[::2]

[1, 3, 5, 7]

In [61]:
l[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [62]:
l1=[1,2,3,4]
l2=["Ayub","Basant","Juju","Newar"]

In [63]:
nli=l1+l2

In [64]:
nli

[1, 2, 3, 4, 'Ayub', 'Basant', 'Juju', 'Newar']

In [65]:
num=[1,2,1,2,5,67,8,6,1,2,3,1,0,9,2,1,1,4,5,6,1]

In [67]:
num.count(3)

1

In [68]:
lst=["one","two",3+8j,0.8,"fgg"]

In [69]:
for element in lst:
    print(element)

one
two
(3+8j)
0.8
fgg

#### List comprehension

In [70]:
#without List comprehension
square=[]
for i in range(11):
    square.append(i**2)
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
squares=[i**2 for i in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
lst=[-10,-20,10,20,50]
new_lst=[i*2 for i in lst]
print(new_lst)
new_lst2=[i for i in lst if i>=0]
print(new_lst2)
new_lst3=[(i,i**2) for i in range(5)]
print(new_lst3)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [75]:
new_lst

[100, 400, 100, 400, 2500]

In [82]:
matrix=[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

#find the transpose of the matrix
tran=[]
for i in range(4):
    lst=[]
    for row in matrix:
        lst.append(row[i])
    tran.append(lst)

In [83]:
tran

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [88]:
matrix=[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
trans_matrix=[[row[i] for row in matrix ] for i in range(4)]

In [89]:
trans_matrix

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

3