### Tuples

Tuples are similar to list but tuples are immutable data structures while list are mutable data structures

In [1]:
t=() #empty tuples

In [3]:
#tuples with same data types
t1=(3,5,12,4)
print(t1)

(3, 5, 12, 4)

In [5]:
t=('abc',2+5j,56,5.5)
print(t)

('abc', (2+5j), 56, 5.5)

In [6]:
#nested tuples
t_nest=('a',(1,2+3j,4,'mn'),[2,4,6,8,10])
print(t_nest)

('a', (1, (2+3j), 4, 'mn'), [2, 4, 6, 8, 10])

In [7]:
t=('Basanta')
type(t)

str

In [8]:
t=('Basanta',)
type(t)

tuple

In [11]:
t='Basanta',
print(type(t))
print(t)

<class 'tuple'>
('Basanta',)

In [14]:
t_new='Rishab','Juju','Sameer','Patrik',
print(t_new[-1])
type(t_new)

Patrik

tuple

In [16]:
t_new1='Rishab','Juju','Sameer','Patrik',('a','b'),5+9j,
t_new1[4]

('a', 'b')

In [17]:
print(type(t_new1))

<class 'tuple'>

In [18]:
t_new1[4][-1]

'b'

In [19]:
t=(1,2,3,4,5,6)
t[1:5]

(2, 3, 4, 5)

In [20]:
t[:-2]

(1, 2, 3, 4)

In [21]:
t[:]

(1, 2, 3, 4, 5, 6)

In [22]:
t[::-1]

(6, 5, 4, 3, 2, 1)

#### Tuples are immutable

This means elements of tuples cannot be changed once it has been assigned. However,if one of the element in the tuples is a mutable data type,the nested item can be changed

In [23]:
t_0=(1,2,"a","n",[1,2,3,5,2+5j,5.1])

In [26]:
t_0[1]=100 # Type Error as tuple object doesn't support item assignment

TypeError: 'tuple' object does not support item assignment

In [27]:
t_0[4][1]='Basanta'

In [28]:
t_0

(1, 2, 'a', 'n', [1, 'Basanta', 3, 5, (2+5j), 5.1])

In [29]:
#concatinating tuples
t0=(1,2,3,4,5)
t1=('a','b','c','d','e')

In [30]:
t=t0+t1
print(t)

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e')

In [32]:
t=(('a','b',3+5j)*4)

In [33]:
t

('a', 'b', (3+5j), 'a', 'b', (3+5j), 'a', 'b', (3+5j), 'a', 'b', (3+5j))

##### Tuples deletion

In [34]:
t=(0,2,4,6,8)
t

(0, 2, 4, 6, 8)

In [35]:
del t

### Tuples count

In [37]:
t=(1,2,3,4,5,1,3,4,2,1,2,3,1)

In [38]:
t.count(1)

4

In [42]:
t=('a','m',54,234,54,'m',43,'m',5+4j,'a',9.999)

In [46]:
t.index('a')

0

In [47]:
#Tuple membership
t=(1,2,3,4,5,6)
print(4 in t)

True

In [48]:
8 in t

False

In [50]:
len(t)

6

In [51]:
t=(3,99,23,12,4,3,9,0,-4)

In [52]:
new_t=sorted(t)

In [53]:
t

(3, 99, 23, 12, 4, 3, 9, 0, -4)

In [54]:
new_t

[-4, 0, 3, 3, 4, 9, 12, 23, 99]

In [55]:
print(max(t))

99

In [56]:
print(min(t))

-4

In [58]:
print(sum(t))

149